
{% extends "base.html" %}
{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Онлайн-чаты по комнатам</h1>
        <p>Создавайте приватные комнаты и общайтесь с друзьями в реальном времени. 
        Вся история сообщений хранится в базе данных.</p>
        <div class="hero-actions">
            <a href="/register" class="btn-primary">Начать</a>
            <a href="/docs" class="btn-outline">Открыть Swagger (CRUD)</a>
        </div>
    </div>
</section>
{% endblock %}
